# Entorno virtual (si lo vuelves a crear en el futuro)
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.pyc

# Archivos de base de datos locales
*.db

# Configuración local
.env

# Configuración de IDEs
.vscode/
.idea/


node_modules/
package-lock.json

